* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family: "Poppins", sans-serif;
}

body {
    
   background: linear-gradient(135deg, #fffce5 0%, #ffffff 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.left-section {
    flex: 1;
    background:  #ffffff;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.illustration {
    width: 100%;
    max-width: 500px;
}

.illustration img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.right-section {
    flex: 1;
     background:  #ffffff;
    padding:50px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}



.logo img {
    height: 125px;
    width: auto;
}


.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

.login-form h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1a1a1a;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #ff9147;
}

.form-group input::placeholder {
    color: #999;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    margin: 40px auto 0;
    padding: 10px 22px;
    background: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color:   #ffa733;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-links .link {
    color: #666;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.3s;
}

.form-links .link:hover {
    color: #ff9147;
}



.terms {
    font-size: 12px;
    color: #666;
    text-align: center;
    line-height: 1.6;
}

.terms a {
    color: #333;
    text-decoration: underline;
}

.terms a:hover {
    color: #ff9147;
}

@media (max-width: 968px) {
    .container {
        flex-direction: column;
    }

    .left-section {
        padding: 40px;
    }

    .right-section {
        padding: 40px;
    }
}

@media (max-width: 576px) {

    .left-section,
    .right-section {
        padding: 30px 20px;
    }

    .login-form h1 {
        font-size: 26px;
    }
}