/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
    font-weight: bold;
}

.logo img {
    height: 65px;
    width: auto;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-weight: 500;
}

.nav-links a.active {
    background: #000;
    color: #fff;
    padding: 8px 18px;
    border-radius: 30px;
   
}



html {
    scroll-behavior: smooth;
}

.section {
    padding: 100px 80px;
    min-height: 100vh;
}


.register-btn {
    background: #ff8a00;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 22px;
    cursor: pointer;
    font-weight: 500;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 80px 80px;
    background: linear-gradient(135deg, #fffce5 0%, #ffffff 100%);
}

.hero-content {
    width: 50%;
}

.hero-content h1 {
    font-size: 44px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #111;
}

.hero-content p {
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.primary-btn {
    background: #ff8a00;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}

.secondary-btn {
    background: transparent;
    border: none;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.hero-image img {
    width: 100%;
    max-width: 1000px;
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content,
    .hero-image {
        width: 100%;
    }

    .hero-image img {
        margin-top: 40px;
    }
}